<title>Sibani Chat | Thanks / Arigatou</title>
<div class="card bg-dark m-auto mt-5 white" style="width: 20rem;">
  <img src="images/usuario.jpg" class="card-img-top border-bottom border-1">
  <div class="card-body">
    <h5 class="card-title">Registrate / Register</h5>
    
  </div>
</div>