<title>Sibani Chat | Chat</title>
<div id="app">
    <ul id="message"></ul>
    <form id="form">
        <input id="input" autocomplete="off" /><button><i class="fas fa-location-arrow"></i></button>
    </form>
</div>
<script src="/node_modules/socket.io/client-dist/socket.io.js"></script>
<script src="clientSide.js"></script>