<title>Sibani Chat | Login</title>
<div class="card m-auto mt-3" style="width: 20rem;">
  <img src="images/usuario.jpg" class="card-img-top border-bottom border-1">
  <div class="card-body">
    <h5 class="card-title">Iniciar Sesión / Login</h5>
    <form method="post">
        <div class="mb-3">
            <label for="InputGlobal" class="form-label">Correo electrónico o usuario / Email or nickname</label>
            <input type="email" class="form-control">
        </div>
        <div class="mb-3">
            <label for="InputPassword" class="form-label">Contraseña / Password</label>
            <input type="password" class="form-control">
        </div>
        <div class="form-text">
            ¿Aun no tienes una cuenta?<br>
            ¡Creala haciendo click <a href="/register">aquí</a>!
        </div>
    </form>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Iniciar sesión / Login</a>
  </div>
</div>