<title>Sibani Chat | Register</title>
<div class="card m-auto mt-3" style="width: 20rem;">
  <img src="images/usuario.jpg" class="card-img-top border-bottom border-1">
  <div class="card-body">
    <h5 class="card-title">Registrate / Register</h5>
    
    {{!-- Formulario de registro --}}

    <form method="POST" action="/register/newuser">
    {{!-- name --}}
        <div class="mb-3 mt-3">
            <label class="form-label">Usuario / Nickname</label>
            <input name="nickname" class="form-control" type="text" required>
        </div>
    {{!-- email --}}
        <div class="mb-3">
            <label class="form-label">Correo eletrónico / Email</label>
            <input name="mail" class="form-control" type="email" required>
            <div class="form-text mt-3">
                Nos comprometemos a no compartir los datos de registro con absolutamente nadie
            </div>
        </div>
    {{!-- password --}}
        <div class="mb-3">
            <label class="form-label">Contraseña / Password</label>
            <input name="password" class="form-control" type="password" required>
        </div>
        <div class="form-text">
            ¿Ya tienes una cuenta?<br>
            ¡Usala ahora haciendo click <a href="/login">aquí</a>!
        </div>
    {{!-- Create user --}}
        <button class="btn btn-primary mt-2">Crear cuenta / Create accout</button>
    </form>
  </div>
</div>