<title>Sibani Chat | Register</title>
<div class="card m-auto mt-5" style="width: 27rem;">
  <img src="images/usuario.jpg" class="card-img-top border-bottom border-1">
  <div class="card-body">
    <h5 class="card-title">Registrate / Register</h5>
    <form method="post" action="/regiser/newUser">
        <div class="mb-3 mt-3">
            <label for="InputUser" class="form-label">Usuario / Nickname</label>
            <input type="email" class="form-control">
        </div>
        <div class="mb-3">
            <label for="InputEmail" class="form-label">Correo eletrónico / Email</label>
            <input type="email" name="" class="form-control">
            <div class="form-text mt-3">
                Nos comprometemos a no compartir los datos de registro con absolutamente nadie
            </div>
        </div>
        <div class="mb-3">
            <label for="InputPassword" class="form-label">Contraseña / Password</label>
            <input type="password" class="form-control">
        </div>
        <div class="form-text">
            ¿Ya tienes una cuenta?<br>
            ¡Usala ahora haciendo click <a href="/login">aquí</a>!
        </div>
    </form>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Crear cuenta / Create accout</a>
  </div>
</div>